<div fxLayout="column wrap" style="width: 970px; margin: 30px auto; padding: 8px 8px 8px 16px; background-color: #f5f6f7; border: 1px solid #e9eaec;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column">
    <table mat-table [dataSource]="PeriodicElement" class="table-width-fix">
      <tr mat-header-row *matHeaderRowDef="[&apos;position&apos;,&apos;name&apos;,&apos;weight&apos;,&apos;symbol&apos;]"></tr>
      <tr mat-row *matRowDef="let row; columns: [&apos;position&apos;,&apos;name&apos;,&apos;weight&apos;,&apos;symbol&apos;];"></tr>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.position}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.weight}}</td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let table; let i = index;">{{table.symbol}}</td>
      </ng-container>
    </table>
    <mat-paginator [length]="5" [pageSize]="4" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div>