<div fxLayout="column wrap" style="width: 970px; margin: 15px auto;padding: 15px; border: 1px solid #e9eaec;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="margin-bottom: 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>
      Basic buttons</div>
  </div>
  <div fxLayout="row wrap" style="padding: 10px 0; border-bottom: 1px solid #e9eaec;" fxLayoutGap="30px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div>
      Basic</div><button mat-button>Basic</button><button mat-button color="primary">Primary</button><button mat-button color="accent">Accent</button><button mat-button color="warn">Warn</button><button mat-button [disabled]="true">Disabled</button><button mat-button>Link</button>
  </div>
  <div fxLayout="row wrap" style="padding: 10px 0; border-bottom: 1px solid #e9eaec;" fxLayoutGap="30px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div>
      Raised</div><button mat-raised-button>Basic</button><button mat-raised-button color="primary">Primary</button><button mat-raised-button color="accent">Accent</button><button mat-raised-button color="warn">Warn</button><button mat-raised-button [disabled]="true">Disabled</button><button mat-raised-button>Link</button>
  </div>
  <div fxLayout="row wrap" style="padding: 10px 0; border-bottom: 1px solid #e9eaec;" fxLayoutGap="30px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div>
      FAB</div><button mat-fab color="primary">
      <mat-icon>delete</mat-icon>
    </button><button mat-fab color="accent">
      <mat-icon>bookmark</mat-icon>
    </button><button mat-fab color="warn">
      <mat-icon>home</mat-icon>
    </button><button mat-fab [disabled]="true">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>