/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.page-wrapper {
    width: 970px;
    padding: 8px 8px 8px 16px;
    margin: 30px auto;
    display: block;
    border-radius: 5px;
    background-color: #f5f6f7;
    border: 1px solid #e9eaec;
}