<div fxLayout="column wrap" style="width: 970px; margin: 30px auto; border: 1px solid #e9eaec;padding: 8px 8px 8px 16px; border-radius: 5px; background-color: #f5f6f7;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>
      Basic Cards</div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="display: block; width: 100%; margin-bottom: 10px; margin-top: 10px;">
      <mat-card-content>
        <div>
          Simple Cards</div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="max-width: 400px;" class="example-card">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <img mat-card-avatar [src]="[cardImg]">
      </mat-card-header>

      <img mat-card-image alt="Photo of a Shiba Inu" [src]="[cardImgThumb]">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
      </mat-card-content>

      <mat-card-actions><button mat-button>LIKE</button><button mat-button>SHARE</button></mat-card-actions>
    </mat-card>
  </div>
</div>