<div fxLayout="column wrap" style="width: 970px; margin: 30px auto; padding: 8px 8px 8px 16px; background-color: #f5f6f7; border: 1px solid #e9eaec;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div>
    Basic checkboxes</div>
  <div fxLayout="row wrap" style="margin: 30px 0;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-checkbox style="margin-right: 15px;" color="warn" [required]="false">Check me!</mat-checkbox>
    <mat-checkbox [required]="false" [disabled]="true" [disableRipple]="false">Disabled</mat-checkbox>
  </div>
  <div fxLayout="row wrap" style="margin-bottom: 10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-checkbox (change)="setAll($event.checked)" [checked]="allComplete" color="{{task.color}}" [required]="false" [indeterminate]="someComplete()">Indeterminate</mat-checkbox>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-list-item *ngFor="let subtask of task.subtasks" style="margin-left: 25px;">
      <mat-checkbox [(ngModel)]="subtask.completed" color="{{subtask.color}}" [required]="false" (ngModelChange)="updateAllComplete()">{{subtask.name}}</mat-checkbox>
    </mat-list-item>
  </div>
</div>