<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <h2 mat-dialog-title>
    Install Angular</h2>
  <div fxLayout="column wrap" style="max-height: 65vh; display: block; overflow: auto;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" class="mat-typography" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        Develop across all platforms</h3>
      <p>
        Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </div>
    <div fxLayout="column wrap" class="mat-typography" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        Develop across all platforms</h3>
      <p>
        Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </div>
    <div fxLayout="column wrap" class="mat-typography" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h3>
        Develop across all platforms</h3>
      <p>
        Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button mat-dialog-close>Cancel</button><button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button></div>
</div>