<div fxLayout="column wrap" style="width: 970px; margin: 30px auto; padding: 8px 8px 8px 16px; background-color: #f5f6f7; border: 1px solid #e9eaec;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div>
    Dialog with header, scrollable content and actions</div>
  <div fxLayout="row wrap" style="padding: 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button (click)="openDialog()">Button</button></div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
</div>