<div fxLayout="column wrap" fxLayoutAlign="center space-around" [fxShow]="true" [fxHide]="false">
  <form [formGroup]="sampleForm">
    <div fxLayout="row wrap" fxLayoutGap="35px" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
      <div>
        Firstname</div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Firstname" [required]="true" formControlName="firstName">
        <mat-error align="start" *ngIf="sampleForm.controls.firstName.errors?.required">Firstname is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="34px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        Lastname</div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Lastname" [required]="false" formControlName="lastName">

      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="35px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        Age</div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Enter Age" [required]="false" formControlName="age">

      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="35px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div>
        Role</div>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
        <mat-select formControlName="role" placeholder="Select Role" [required]="false">
          <ng-template ngFor let-option [ngForOf]="dataRole" let-i="index">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-template>
        </mat-select>

      </mat-form-field>
    </div><button mat-button color="primary" (click)="register()">Button</button>
  </form>
</div>