<div fxLayout="column wrap" class="page-wrapper" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description style="margin-right: 15px;">
          Type your name and age
          <mat-icon>
            account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput type="text" placeholder="Firstname" [required]="false">

      </mat-form-field>
      <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput type="number" placeholder="Age" [required]="false">

      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>